:root {
  --text-lighter: #333333;
}

body {
  font-family: "Trip Sans", sans-serif;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
}

/*-------- HEADER ------*/

header {
  margin-bottom: 20px;
  border-bottom: grey solid 1px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  background-color: white;
  /* height: 80px; */
}

header .container {
  display: flex;
  /* background-color: pink; */
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 20px; */
  /* border-bottom: black solid 4px; */
  max-width: 1184px;
}

.logoAndSearch_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* background-color: yellow; */
}

.logo {
  height: 40px;
  margin: 9px 24px 9px 0px;
}

.account {
  display: flex;
  align-items: center;
  justify-content: flex start;
  margin-right: 28px;
}

.search_bar {
  border: #e0e0e0 2px solid;
  display: flex;
  align-items: center;
  height: 38px;
  /* background-color: red; */
  border-radius: 25px;
  margin: 9x 24px;
  /* flex: 1; */
  width: 340px;
}

i {
  /* background-color: blue; */
  margin: 10px 12px;
  size: 17px;
}

.account i {
  margin: 10px 6px;
}

.log-in {
  background-color: black;
  border: 0;
  color: #f8f8f8;
  padding: 16px 16px;
  border-radius: 22px;
  font-size: 16px;
  font-family: inherit;
}

.log-in:hover {
  background-color: #333333;
}

/* -------MAIN-------- */

h1 {
  /* background-color: blue; */
  margin: 60px 0px 21px 0px;
}

h1 span {
  font-size: 64px;
}
h1 span:nth-child(1) {
  color: #fb5d5d;
}

/* .main {
  /* margin: 20px 392px; */
/* display: flex; */
/* flex-direction: row; */
/* } */

.menu {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* gap: 10px; */
}

.case {
  /* background-color: pink; */
  border: black solid 1px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  /* flex: 1; */
  justify-content: space-between;
  margin-right: 10px;
  width: 179px;
}

.case:last-child {
  margin-right: 0;
}

.case:hover {
  background-color: black;
  color: white;
}

#flight,
#cruise {
  /* background-color: yellow; */
  display: none;
}

.photo {
  display: flex;
  width: 100%;
  margin: 24px 0px;
  height: 428px;
}

.photo1 {
  /* display: flex; */
  height: 100%;
  flex: 1;
  margin-right: 2px;
}

.photo1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo1 img:hover {
  opacity: 0.5;
}

.photo2 {
  /* height: 100%; */
  height: 100%;
  width: 480px;
}

.photo2 img {
  display: block;
  width: 100%;
  height: calc(50% - (2px / 2));
  object-fit: cover;
  /* box-sizing: border-box; */
  margin-bottom: 2px;
}

.photo2 img:hover {
  opacity: 0.5;
}

.nav_under_caption {
  color: #333333;
  font-size: 12px;
  font-weight: normal;
}

.nav_under_caption span:hover {
  text-decoration: underline;
}

.intro {
  /* background-color: yellow; */
  display: flex;
  height: 418px;
  justify-content: space-between;
  margin: 43px 0;
}
.about_city {
  width: 563px;
  /* background-color: Green; */
  height: 100%;
}

.about_city h2 {
  font-size: 28px;
  margin-bottom: 34px;
}
.about_city p {
  font-size: 20px;
  font-family: Georgia;
  color: #333333;
}

.where {
  width: 435px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
}

.trip_begin {
  height: 55%;
  background-color: #fb5d5d;
  border-radius: 15px 15px 0 0;
}

.trip_begin h3 {
  font-size: 30px;
  margin: 20px;
}

.trip_begin p {
  font-size: 18px;
  font-weight: normal;
  margin: 20px;
}

.trip_begin button {
  padding: 20px 15px;
  border-radius: 15px;
  margin: 0 20px;
  border: 0;
  background-color: #333333;
  color: white;
  font-family: "Trip Sans";
}

.where img {
  width: 100%;
  height: 45%;
  object-fit: cover;
  box-sizing: border-box;
  margin: 0 0 0 -0.5px;
  border-radius: 0 0 15px 15px;
  /* display: row; */
}

.col1 {
  width: 215px;
}

.les_immanquables h2 {
  font-size: 28px;
  margin-bottom: 35px;
}

.les_immanquables h3 {
  font-size: 24px;
  margin-bottom: 30px;
}

.col1 p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: var(--text-lighter);
  font-weight: lighter;
  line-height: 22px;
}

.les_immanquables button {
  font-family: "Trip Sans";
  background-color: white;
  border: 0;
  padding: 20px 0 0 0;
  margin: 0;
  font-size: 16px;
  color: #616161;
}

.les_immanquables .whereToGo {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

.col2 {
  display: flex;
  /* max-width: 100%; */
  /* flex: 1; */
  /* background-color: green; */
  width: 841px;
  height: 293px;
  /* flex-wrap: nowrap; */
  overflow: hidden;
  overflow-x: scroll;
}

.destination {
  /* background-color: blue; */
  height: 100%;
  width: 269px;
  margin-left: 16px;
  box-sizing: border-box;
  position: relative;
}

.destination span {
  /* margin: 15px; */
  /* background-color: #fb5d5d; */
  margin: 5px 0;
  display: flex;
  font-size: 18px;
}

.destination p {
  font-size: 14px;
  font-family: "Trip Sans";
  font-weight: normal;
  margin: 5px 0;
  line-height: 17px;
  color: var(--text-lighter);
}

.les_immanquables img {
  width: 269px;
  height: 202px;
}

/* .rate {
  display: flex;
}

.star-full {
  width: 10px;
  height: 10px;
  background-color: #22aa6c;
  border-radius: 100%;
} */

.cercle {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 245px;
  left: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rate {
  color: #22aa6c;
  display: flex;
  /* background-color: red; */
  align-items: center;
}

.rate i {
  margin: 5px 1px;
}

.rate span {
  color: var(--text-lighter);
  margin: 5px;
  font-family: "Trip Sans";
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal > div {
  width: 284px;
  height: 578px;
  background-color: blueviolet;
}

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background-color: blue;
}

#contactForm input,
#contactForm textarea,
#contactForm button {
  margin: 0 5px;
}

.hidden {
  display: none;
}

footer {
  margin-top: 50px;
  height: 156px;
  background-color: #faf1ed;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  height: 30px;
  margin-right: 20px;
}

@media (max-width: 1184px) {
  .account p {
    display: none;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
  }

  #flight,
  #cruise {
    display: flex;
  }

  .case {
    width: calc((100% - 30px) / 4);
    margin-top: 10px;
    box-sizing: border-box;
  }

  .case:nth-child(4n) {
    margin-right: 0;
  }

  .photo,
  .photo1,
  .photo2 {
    height: 372px;
  }
}
